alembic==1.10.4
boto3==1.28.64
casdoor==1.17.0
celery==5.2.7
colorama==0.4.6
dataclasses-json==0.5.7
email-validator==2.0.0.post2
emails==0.6
fastapi-cache==0.1.0
grequests==0.6.0
httptools==0.5.0
langdetect==1.0.9
openapi-schema-pydantic==1.2.4
# osintbuddy==0.0.4
itsdangerous==2.1.2
passlib==1.7.4
psycopg2-binary==2.9.6
PySocks==1.7.1
python-jose==3.3.0
python-multipart==0.0.6
redis==4.5.4

tenacity==8.2.2
ujson==5.8.0
undetected-chromedriver==3.4.7
validators==0.20.0
watchfiles==0.19.0

gremlinpy @ git+https://github.com/jerlendds/gremlinpy.git@eaba7dca12ad0156eb0d6d8ba2eb5751551c6a6d

boto3-stubs==1.28.75

