aioredis==1.3.1
amqp==5.1.1
anyio==3.6.2
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
dnspython==2.3.0
billiard==3.6.4.0
celery==5.2.7
certifi==2022.12.7
langchain==0.0.165
langdetect==1.0.9

openai==0.27.6
osintbuddy==0.0.2rc26.post1 

charset-normalizer==3.1.0
python3-nmap==1.6.0

click==8.1.3
beautifulsoup4==4.12.2
undetected-chromedriver==3.4.7

alembic==1.10.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
exceptiongroup==1.1.1
fastapi==0.95.1
validators==0.20.0
fastapi-cache==0.1.0
greenlet==2.0.2
h11==0.14.0
hiredis==2.2.3
httptools==0.5.0
idna==3.4
iniconfig==2.0.0
kombu==5.2.4
psycopg2-binary==2.9.6
neo4j==5.8.0
outcome==1.2.0
packaging==23.1
pluggy==1.0.0
prompt-toolkit==3.0.38
pydantic==1.10.7
PySocks==1.7.1
pytest==7.3.1
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0
redis==4.5.4
requests==2.30.0
selenium==4.9.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.12
starlette==0.26.1
tenacity==8.2.2
tomli==2.0.1
trio==0.22.0
trio-websocket==0.10.2
typing-extensions==4.5.0
urllib3==1.26.15
uvicorn==0.22.0
uvloop==0.17.0
vine==5.0.0
watchfiles==0.19.0
wcwidth==0.2.6
websockets==11.0.2
wsproto==1.2.0
