@import './nodes.css';
@import './prism.css';
@import './docs.css';
@import './layouts.css';
@import './tables.css';
@import './charts.css';
@import './buttons.css';

@font-face {
  font-family: 'Lexend';
  src: url('@assets/fonts/Lexend-Regular.woff2') format('woff2'),
      url('@assets/fonts/Lexend-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('@assets/fonts/Inter-Regular.woff2') format('woff2'),
      url('@assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fira Code';
  src: url('@assets/fonts/FiraCode-Light.woff2') format('woff2'),
      url('@assets/fonts/FiraCode-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
*,
:after,
:before {
  @apply box-border ;
}
button {
  cursor: pointer;
}
:disabled {
  cursor: default;
}


::-moz-selection {
  @apply text-slate-200 bg-radiance-500/50
}

::selection {
  @apply text-slate-200 bg-radiance-500/50
}
/* 2d6cffb0 */
html {
  background-color: rgb(7, 21, 35, 1);
  background-image: url(../images/image-bg.siteorigin.com-inflicted-overlay.png );
}
/* 1hmfchzd.png */

body {
  background-color: transparent;
  background-size: 100% 100%;
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
  background-image: radial-gradient(49% 81% at 45% 47%, rgba(71, 0, 80, 0.093) 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, rgba(7, 70, 132, 0.168) 1%, #ff000000 99%),radial-gradient(142% 91% at 83% 7%, hsla(234, 100%, 19%, 0.109) 1%, rgba(153, 0, 255, 0.126) 99%),radial-gradient(142% 91% at -6% 74%, rgba(0, 42, 255, 0.116) 1%, rgba(3, 154, 84, 0.116) 99%),radial-gradient(142% 91% at 111% 84%, #1144ed0f 25%, rgba(69, 34, 150, 0.045) 95%);}
/* https://gradienta.io/editor */


#root {
  @apply flex flex-col h-full min-h-screen relative bg-mirage-900/20  justify-between;
}

.half-grayscale {
  --tw-grayscale: grayscale(70%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

svg.icon {
  @apply flex items-center justify-center;
}

p {
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
figcaption {
  @apply text-mirage-400 font-display;
  /* color: #ff9602; */
}

/* 
  Custom Scrollbar Style 
  Works on Chrome, Edge, and Safari 
*/
*::-webkit-scrollbar {
  width: 10px;
  border-radius: none;

}
*::-webkit-scrollbar-track {
  background: #19233433;
  width: 10px;
  border-radius: none;

}
*::-webkit-scrollbar-thumb {
  background-color: #1a1f2793;
  border-radius: 2px;
  border-right: 9px solid #1b243a84;
}
* {
  scrollbar-width: 10px;
  scrollbar-color: #1d222f62 #202d4333;

}

/* end Custom Scrollbar Style */

/* start Animated CSS Hamburger Menu */

.hamburger.is-active {
  @apply transition-transform -rotate-45 duration-75;
}

.hamburger {
  @apply relative hover:cursor-pointer rotate-0;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.hamburger:hover .line {
  background-color: rgb(71 85 105);

}

.hamburger .line {
  background-color: rgb(51 65 85);
  border-radius: 50px;
  height: 2px;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.hamburger.is-active .line:nth-child(1),
.hamburger.is-active .line:nth-child(2),
.hamburger.is-active .line:nth-child(3) {
  width: 20px;
}

.hamburger .line:nth-child(1) {
  width: 26px;
  margin-right: 100%;
}
.hamburger .line:nth-child(2) {
  width: 26px;
  margin-right: 100%;
}
.hamburger .line:nth-child(3) {
  width: 26px;
  margin-right: 100%;
}
.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
  transform: translateY(8px);
}

.hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(90deg);
  -ms-transform: translateY(-8px) rotate(90deg);
  -o-transform: translateY(-8px) rotate(90deg);
  transform: translateY(-8px) rotate(90deg);
}
/* end Animated CSS Hamburger Menu */

/* hide number inputs */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
/* end hide number inputs */

/* start react flow style overrides */

.react-flow__attribution {
  @apply !bg-mirage-600;
}
.react-flow__attribution a {
  @apply !text-slate-500;
  
}

.react-flow__edge-path {
  stroke: #334155 !important;
}

/* .react-flow__edge {
  cursor: grab !important;
  pointer-events: none !important;
} */
.react-flow__node {
  cursor: default !important;
}


.react-flow__background #pattern-1undefined {
  width: 100px;
  height: 100px;
}
/* .react-flow__pane, .react-flow__renderer {
  top: 13rem !important;
  bottom: 0;
} */
/* .react-flow__background {
  bottom: 0;
  top: none !important;
} */
/* end react flow style overrides */

input[type='file'] {
  display: none;
}

/* start toastify styles */

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #0163A4;
  --toastify-color-success: #48B758;
  --toastify-color-warning: #CC9900;
  --toastify-color-error: #C1292E;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 600px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* //Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* // Used when no type is provided */
  --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  /* // Used when no type is provided */
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}
.Toastify__toast-body {
  @apply items-start;
}
.Toastify__close-button.Toastify__close-button--light {
  @apply w-10 h-8 text-slate-100;
}
.Toastify__close-button.Toastify__close-button--light svg {
  @apply w-5 h-5;
}
/* end toastify styles */

/* start react-grid-layout and codemirror */
.react-resizable-handle::after {
  @apply !border-slate-600 !w-2 !h-2
}


/* end react-grid-layout and codemirror */
