@import './nodes.css';
@import './prism.css';
@import './docs.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');



*,
:after,
:before {
  @apply box-border font-sans;
  z-index: 1;
}
button {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
* {
  scrollbar-width: auto;
  scrollbar-color: #3c3c40 #3c3c40;
}

/* https://gradienta.io/editor */
body {
  @apply relative min-h-screen bg-dark-900;
}
#root {
  @apply flex flex-col min-h-screen relative;
}

svg.icon {
  @apply flex items-center justify-center;
}

p,
span {
  @apply text-dark-400;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
figcaption {
  @apply text-dark-400 font-display;
}

/* 
* Custom Scrollbar Style 
*/
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #00000063;
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #00000063;
  border-radius: 0px;
  border-right: 8px solid #3c3c40;
}
* {
  scrollbar-width: auto;
  scrollbar-color: #00000063 #00000063;
}
/* end Custom Scrollbar Style */

/* start Animated CSS Hamburger Menu */

.hamburger.is-active {
  @apply transition-transform -rotate-45 duration-75;
}

.hamburger {
  @apply relative hover:cursor-pointer rotate-0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger .line {
  border-radius: 50px;
  height: 2px;
  background-color: #f2f2f2;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.is-active .line:nth-child(1),
.hamburger.is-active .line:nth-child(2),
.hamburger.is-active .line:nth-child(3) {
  width: 26px;
}

.hamburger .line:nth-child(1) {
  width: 30px;
  margin-right: 100%;
}
.hamburger .line:nth-child(2) {
  width: 30px;
  margin-right: 100%;
}
.hamburger .line:nth-child(3) {
  width: 30px;
  margin-right: 100%;
}
.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}

.hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(90deg);
  -ms-transform: translateY(-10px) rotate(90deg);
  -o-transform: translateY(-10px) rotate(90deg);
  transform: translateY(-10px) rotate(90deg);
}
/* end Animated CSS Hamburger Menu */

/* hide number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}
/* end hide number inputs */
