@import './nodes.css';
@import './prism.css';
@import './docs.css';
@import './layouts.css';
@import './tables.css';
@import './charts.css';
@import './buttons.css';

@font-face {
  font-family: 'Lexend';
  src: url('@/assets/fonts/Lexend-Regular.woff2') format('woff2'),
      url('@/assets/fonts/Lexend-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/Inter-Regular.woff2') format('woff2'),
      url('@/assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
:after,
:before {
  @apply box-border ;
}
button {
  cursor: pointer;
}
:disabled {
  cursor: default;
}


::-moz-selection {
  @apply text-slate-200 bg-info-300
}

::selection {
  @apply text-slate-200 bg-info-300
}

/* https://gradienta.io/editor */
body {
  @apply min-h-screen bg-dark-900;
}
#root {
  @apply flex flex-col min-h-screen relative;
}

svg.icon {
  @apply flex items-center justify-center;
}

p {
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
figcaption {
  @apply text-dark-400 font-display;
}

/* 
  Custom Scrollbar Style 
  Works on Chrome, Edge, and Safari 
*/
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: #1A1F27;
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background-color: #1A1F27;
  border-radius: 8px;
  border-right: 8px solid #1A1F27;
}
* {
  scrollbar-width: 6px;
  scrollbar-color: #1A1F27 #0B111F;
}
/* end Custom Scrollbar Style */

/* start Animated CSS Hamburger Menu */

.hamburger.is-active {
  @apply transition-transform -rotate-45 duration-75;
}

.hamburger {
  @apply relative hover:cursor-pointer rotate-0;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.hamburger .line {
  border-radius: 50px;
  height: 2px;
  background-color: #94A3B8;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.hamburger.is-active .line:nth-child(1),
.hamburger.is-active .line:nth-child(2),
.hamburger.is-active .line:nth-child(3) {
  width: 26px;
}

.hamburger .line:nth-child(1) {
  width: 30px;
  margin-right: 100%;
}
.hamburger .line:nth-child(2) {
  width: 30px;
  margin-right: 100%;
}
.hamburger .line:nth-child(3) {
  width: 30px;
  margin-right: 100%;
}
.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}

.hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(90deg);
  -ms-transform: translateY(-10px) rotate(90deg);
  -o-transform: translateY(-10px) rotate(90deg);
  transform: translateY(-10px) rotate(90deg);
}
/* end Animated CSS Hamburger Menu */

/* hide number inputs */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
/* end hide number inputs */

/* start react flow style overrides */
.react-flow__controls-button {
  @apply !border-dark-400 !fill-slate-400 hover:!bg-dark-200 !bg-dark-600;
}
.react-flow__attribution {
  @apply !bg-dark-600;
}
.react-flow__attribution a {
  @apply !text-slate-500;
}

.react-flow__edge-path {
  stroke: #3a3c40 !important;
}
.react-flow__edge-path:active {
  stroke: #60666a !important;
}
.react-flow__edge {
  cursor: grab !important;
  pointer-events: none !important;
}
.react-flow__node {
  cursor: default !important;
}
/* .react-flow__pane, .react-flow__renderer {
  top: 13rem !important;
  bottom: 0;
} */
/* .react-flow__background {
  bottom: 0;
  top: none !important;
} */
/* end react flow style overrides */

input[type='file'] {
  display: none;
}

/* start toastify styles */

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* //Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* // Used when no type is provided */
  --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  /* // Used when no type is provided */
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}
.Toastify__toast-body {
  @apply items-start;
}
.Toastify__close-button.Toastify__close-button--light {
  @apply w-10 h-8 text-slate-100;
}
.Toastify__close-button.Toastify__close-button--light svg {
  @apply w-5 h-5;
}
/* end toastify styles */

/* start react-grid-layout and codemirror */
.react-resizable-handle::after {
  @apply !border-slate-600 !w-2 !h-2
}

.cm-line span {
  @apply  text-sm;
}
/* end react-grid-layout and codemirror */
