@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .noscroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .noscroll::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@layer utilities {
  .scroll {
    border: 1px solid #DBDBDB;
    overflow-y: scroll;
    display: inline-block;
  }

  .scroll-color {
    scrollbar-color: rgba(24, 50, 75, 0.4) #E8E8E8;
  }
}

@layer utilities {

  .s-bar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  /* Track */
  .s-bar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }

  /* Handle */
  .s-bar::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }

  /* Handle on hover */
  .s-bar::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }

}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.17s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.12s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.17s;
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
  background-color: #546054;
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.12s, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger-inner::after, .hamburger-inner::before {
  display: block;
  content: '';
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.12s, transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.17s;
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.12s, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s linear 0.1s;
  transition-delay: 0.1s;
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: 0.12s;
  transition-property: transform;
  border-radius: 4px !important;
  background-color: #4c4e4c;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger {
  font: inherit;
  cursor: pointer;
  text-transform: none;
  color: inherit;
}

/* Login / Signup Pages */
.account-container {
  @apply flex flex-col items-center justify-center my-32
}
.account-form-container {
  @apply flex flex-col items-center justify-center w-3/5
}
.account-header {
  @apply px-12 pb-1 mx-2 font-semibold border-b-2 font-head text-white-400 border-opacity-40 border-white-100
}